@font-face{
    font-family: BalsamiqSansRegular;
    src: url(../medias/fontes/BalsamiqSans/BalsamiqSans-Regular.ttf);
}

@font-face{
    font-family: Manrope;
    src: url(../medias/fontes/Manrope-VariableFont_wght.ttf);
}

* {
    padding: 0px;
    margin: 0px;
}

canvas {
    border: 1px solid black;
}

#orientation {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00b0ff;
    background-image: url(../medias/img/AppareilTourne.png);
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1000;
    display: none;
}